$primary-white: #fff;

$primary-black: #0d0d19;



$main-transition: 0.5s all ease;

$ash-color: #707c97;
$dark-color: #0d1c2e;
$primary-color: #4c6fff;
$secondary-color: #ff92ae;
$tertiary-color: #f0c142;
$primary-green: #29CB97