.middle-wrapper {
  flex: auto;
}



.dashboard__middle {
  &--content {
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 9rem);
    overflow: auto;
    @include hide-scrollbar;
  }

  &--header {
    display: flex;
    justify-content: space-between;
    height: 9rem;
    display: flex;
    align-items: center;
    padding: 0 2rem;

    h3 {
      font-size: 3rem;
      font-weight: 300;
    }
  }
}






