.sidebar {
  width: 24rem;
  border-right: 1px solid whitesmoke;
  height: 100vh;
  display: flex;
  flex-direction: column;
  transition: $main-transition;

  &-collapsed {
    width: 13rem;
    transition: $main-transition;

    li span {
      display: none;
    }
  }

  @include responsive($desktop-s) {
    display: none;
  }

  &__logo {
    height: 9rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 5.5rem;
      height: 5.5rem;
      margin: auto;
    }
  }

  &__nav {
    margin-top: 2rem;
    height: 100%;
    padding: {
      left: 3rem;
      right: 3rem;
    }

    &--container {
      list-style-type: none;
      padding-left: 0;
      height: 90%;
      display: flex;
      flex-direction: column;

      li {
        display: flex;
        align-items: center;

        padding: 1rem 2rem;
        color: $ash-color;
        gap: 1.6rem;
        border-radius: 0.6rem;
        cursor: pointer;
        transition: $main-transition;

        span {
          font-size: 1.4rem;
        }

        &:not(last-child) {
          margin-bottom: 2rem;
        }

        &:hover {
          color: white !important;
          background-color: $primary-color;
        }

        &:last-child {
          margin-top: auto;
        }

        &.active {
          color: white;
          background-color: $primary-color;
        }
      }
    }
  }
}
